<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyh.lixue.mapper.SearchMapper">
    <resultMap id="problem" type="Problem">
        <id column="knowledge_point" property="knowledgePoint"/>
        <id column="problem_id" property="problemId"/>
        <id column="title" property="title"/>
        <id column="comeout" property="publish"/>
        <id column="problem_picture_name" property="problemPictureName"/>
        <id column="picture_answer" property="answerPictureName"/>
        <id column="hotpoint" property="hotpoint"/>
    </resultMap>
    <select id="searchProblem" parameterType="String" resultType="Problem">
        select * from prohub where title like #{name}
    </select>

    <select id="getAll" resultMap="problem">
        select problem_id,knowledge_point,title,comeout,problem_picture_name,picture_answer,hot_point from prohub
    </select>

</mapper>