<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyh.searchlite.admin.mapper.AdminMapper">


    <insert id="insertProblem" parameterType="java.util.List" useGeneratedKeys="false">
        insert into problem (title, knowledge_point, publisher, problem_picture_name, answer_picture_name) values
        <foreach collection="list" item="problem" index="index" separator=",">
            (
             #{problem.title},
             #{problem.knowledge_point},
             #{problem.publisher},
             #{problem.problem_picture_name},
             #{problem.answer_picture_name}
            )
        </foreach>
    </insert>
</mapper>